<% layout('/layouts/boilerplate')%>
<div class="login-container">
        <div class="col-xxl-6 ">
            <div class="card-body rounded-3 shadow p-3">
                <h4 class="card-title text-center">Log in</h4>
                <form action="/login" method="POST" class="validated-form" novalidate>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="email" id="floatingInput" name="email"
                            placeholder="name@example.com" required>
                        <label class="form-label" for="floatingInput">Email</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="form-floating">
                        <input class="form-control" type="password" id="floatingPassword" name="password"
                            placeholder="Password" required autocomplete="on">
                        <label class="form-label" for="floatingPassword">Password</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="d-grid mt-3 col-md-12 mx-auto text-center">
                        <button class="btn btn-info">Sign in</button>
                    </div>
                    <div class="d-grid mt-3 col-md-12 mx-auto text-center">
                        <p>Not signed up yet? Sign up<a href="/register" class="link-info"> here</a></p>    
                    </div>
                </form>
            </div>
        </div>
    </div>
   
</div>